html,
body,
.cover {
    height: 100%; 
}

.container h2 {
    padding: 25px;
    
}
.bg-black{
    background-color:#b2ccce;
}
.d-block{
    height: 650px;
    width: 100%;
}
.cart-image{
    height:auto ;
    width: 75px;
}
.card {
        display: flex;
        flex-direction: column;
        background-color:  white;
        border: 1px solid grey;
        color: black;
        border-radius: 5px;
        padding: 15px;
        cursor: pointer;
        -moz-osx-font-smoothing: grayscale;
        backface-visibility: hidden;
        transform: translateZ(0);
        transition: transform 0.25s ease-out;
 }
      
.card:hover {
    transform: scale(1.05);
}
.cover img{
        max-width:100%;
        height:auto;
    
}
.cover {
    background: url(img/couchfriends.jpg) top left no-repeat; 
    background-size : cover; 
    display: table; 
    width: 100% ;
    padding: 0 20% ; 
    box-shadow: inset 0 0 #000 ; 
}
.cover-text {
    text-align: center;
    color: white;
    display: table-cell; 
    vertical-align: middle; 
}